<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inasweaterpoorlyknit.hackpoly2016">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HackPoly2016Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientMainActivity"
            android:label="@string/title_activity_client"
            android:parentActivityName=".HackPoly2016Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inasweaterpoorlyknit.hackpoly2016.HackPoly2016Activity" />
        </activity>
        <activity
            android:name=".HostMainActivity"
            android:label="@string/title_activity_host"
            android:parentActivityName=".HackPoly2016Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inasweaterpoorlyknit.hackpoly2016.HackPoly2016Activity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_activity"
            android:parentActivityName=".HackPoly2016Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inasweaterpoorlyknit.hackpoly2016.HackPoly2016Activity" />
        </activity>
        <activity
            android:name=".TestingLobby"
            android:label="@string/testing_lobby_activity"
            android:parentActivityName=".HackPoly2016Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inasweaterpoorlyknit.hackpoly2016.HackPoly2016Activity" />
        </activity>
    </application>

</manifest>
